<style>


</style>

 <div ng-controller="AddOptions as AddOpt" class='gridexample'>
	<div class='ParentForm'>
		<div class='DisplayTable'>
			<div class='DisplayRow'>
				<div class='DisplayCell'>
					<div class='FieldLabel'>
						<span class='LabelText'>Category</span>
					</div>
					<div class='FieldInput'>
						<input class='InputField' tabindex="0" type='text' ng-model="AdmOpt.RefVal"/>
					</div>
				</div>
				<div class='DisplayCell'>
					<div class='FieldLabel'>
						<span class='LabelText'>Category</span>
					</div>
					<div class='FieldInput'>
						<input class='InputField' tabindex="0" type='text' ng-model="AdmOpt.RefVal"/>
					</div>
				</div>
				<div class='DisplayCell'>
					<div class='FieldLabel'>
						<span class='LabelText'>Category</span>
					</div>
					<div class='FieldInput'>
						<input class='InputField' tabindex="0" type='text' ng-model="AdmOpt.RefVal"/>
					</div>
				</div>
				<div class='DisplayCell'>
					
				</div>
			</div>
		</div>
	</div>
	
 </div>