<div class='Wrapper'>
	<div class='InnerWrapper RegistrationWrap'>
		<div class='Content LoginForm Registration' ng-controller="AddNewController as NewCustCtrl">
			<div class='FormTitle'><h1>Add New Customer</h1></div>
			<div class='AdminMenu'>
				<div class='DisplayTable'>
					<div class='DisplayRow'>
						<div class='DisplayCell'><div class='Button'>Home</div></div>
						<div class='DisplayCell'><div class='Button'>Options</div></div>
						<div class='DisplayCell'><div class='Button'>Products</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>