<div class='Wrapper'>
	<div class='InnerWrapper RegistrationWrap'>
		<div class='Content LoginForm Registration' ng-controller="TransActionController as TransControl">
			<div class='FormTitle'><h1>Search Existing Bill</h1></div>
			<div class='CustomerForm'>
					
						<div class='DisplayTable'>
							<div class='DisplayRow'>
								<div class='DisplayCell'>
									<div class='FieldLabel'>
										<span class='LabelText'>Bill Number</span>
									</div>
									<div class='FieldInput'>
										<input class='InputField' tabindex="0" type='TEXT' ng-model="TransControl.BillNumber"/>
									</div>
								</div>
							</div>							
							
							<div class='Button' ng-click="TransControl.SearchExistingBill()" tabIndex="0">
									<span>Search Bill</span>
							</div>
							<div class='FieldLink'>
								<span><a href='#/HomePage'>Cancel</a></span>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>`