<div class='Wrapper'>
	<div class='InnerWrapper RegistrationWrap'>
		<div class='Content LoginForm Registration' ng-controller="ProductController as Product">
			<div class='FormTitle'><h1>Stock Management</h1></div>
			<!--div class='Button' ng-click='Product.StartBilling()'>
				<span>Start Billing</span>
			</div>
			<div class='Button' ng-click='Product.StartAddProduct()'>
				<span>Add Product</span>
			</div>
			<div class='Button' ng-click='Product.StartLogout()'>
				<span>Logout</span>
			</div-->
		</div>
	</div>
</div>