
		<div class='Wrapper'>
			<div class='InnerWrapper RegistrationWrap'>
				<div class='Content LoginForm Registration' ng-controller="RegisterController as ToLogin">
					<div class='FormTitle'><h1>Password</h1></div>
					<div class='ErrorMessage'  ng-show="ToLogin.isError">
						<p>{{ToLogin.ErrorMessage}}</p>
					</div>
					<div class='DisplayTable RegForm'>						
						<div class='DisplayRow'>
							<div class='DisplayCell RegCell'>
								<div class='DisplayTable Showborders'>
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='SectionFieldLabel'>
												<span class='SectionLabelText'>Password Reset</span>
											</div>								
										</div>
									</div>
									
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>User Name</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' ng-readonly="true" tabIndex="0" type='text' ng-model="ToLogin.UserName"/>
											</div>
										</div>
									</div>
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Enter Old Password</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' tabIndex="0" type='password' ng-model="ToLogin.OldPassword"/>
											</div>
										</div>
									</div>							
									<div class='DisplayRow'>							
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>New Password</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' tabindex="0" type='password' ng-model="ToLogin.NewPassword"/>
											</div>
										</div>
									</div>	
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Re-enter New Password</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' tabindex="0" type='password' ng-model="ToLogin.reNewPassword"/>
											</div>
										</div>							
									</div>
								</div>
								<div class='Button' ng-click="ToLogin.PasswordReset()" tabIndex="0">
									<span>Submit</span>
								</div>
								<div class='FieldLink'>
									<span><a href='#/login'>Cancel</a></span>
								</div>
							</div>
							<div class='DisplayCell RegCell'>
								
								
								
							</div>
							<!--div class='DisplayCell RegCell'>
								<div class='DisplayTable Showborders'>
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='SectionFieldLabel'>
												<span class='SectionLabelText'></span>
											</div>								
										</div>
									</div>	
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>First Name</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' type='text' ng-model="ToLogin.FirstName"/>
											</div>
										</div>
									</div>							
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Last Name</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' type='text' ng-model="ToLogin.LastName"/>
											</div>
										</div>
									</div>	
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Username</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' type='text' ng-model="ToLogin.Username"/>
											</div>
										</div>
									</div>	
									<div class='DisplayRow'>							
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Password</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' type='password' ng-model="ToLogin.Password"/>
											</div>
										</div>
									</div>	
									<div class='DisplayRow'>
										<div class='DisplayCell'>
											<div class='FieldLabel'>
												<span class='LabelText'>Re-enter Password</span>
											</div>
											<div class='FieldInput'>
												<input class='InputField' type='password' ng-model="ToLogin.rePassword"/>
											</div>
										</div>							
									</div>
								</div>
							</div-->
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div id="footer"><span>Powered by <strong>Solutions</strong></span></div>